<tr id="job_{[{ job.name }]}" class=" job-status-nobuilt">
  <td data="12">
    <img src="/static/images/32x32/nobuilt.png" style="width: 32px; height: 32px;" class="icon-nobuilt icon-lg">
  </td>
  <td data="100" class="healthReport">
    <img src="/static/images/32x32/health-80plus.png" style="width: 32px; height: 32px;" class="icon-health-80plus icon-lg">
  </td>
  <td>
    <a href="{[{ job.url }]}" class="model-link inside">{[{ job.name }]}</a>
  </td>
  <td data="-">N/A</td>
  <td data="-">N/A</td>
  <td data="0">N/A</td>
  <td>
    <a href="#">
      <img src="/static/images/24x24/clock.png" style="width: 24px; height: 24px;" class="icon-clock icon-md">
    </a>
  </td>
  <td></td>
</tr>

