<!DOCTYPE html>

<html>
<head resurl="/static/js">
  <title>Dashboard [Jenkins]</title>
  <link rel="stylesheet" href="/static/css/style.css" type="text/css">
  <link rel="stylesheet" href="/static/css/color.css" type="text/css">
  <link rel="stylesheet" href="/static/css/responsive-grid.css" type="text/css">
  <link rel="shortcut icon" href="/static/favicon.ico" type="image/vnd.microsoft.icon">
  <link color="black" rel="mask-icon" href="/images/mask-icon.svg">
  <script type="text/javascript">var isRunAsTest=false; var rootURL=""; var resURL="/static/js";</script>
  <script src="/static/js/prototype.js" type="text/javascript"></script>
  <script src="/static/js/behavior.js" type="text/javascript"></script>
  <script src="/static/js/yui/yahoo/yahoo-min.js" type="text/javascript"></script>
  <script src="/static/js/yui/dom/dom-min.js" type="text/javascript"></script>
  <script src="/static/js/yui/event/event-min.js" type="text/javascript"></script>
  <script src="/static/js/yui/animation/animation-min.js" type="text/javascript"></script>
  <script src="/static/js/yui/dragdrop/dragdrop-min.js" type="text/javascript"></script>
  <script src="/static/js/yui/container/container-min.js" type="text/javascript"></script>
  <script src="/static/js/yui/connection/connection-min.js" type="text/javascript"></script>
  <script src="/static/js/yui/datasource/datasource-min.js" type="text/javascript"></script>
  <script src="/static/js/yui/autocomplete/autocomplete-min.js" type="text/javascript"></script>
  <script src="/static/js/yui/menu/menu-min.js" type="text/javascript"></script>
  <script src="/static/js/yui/element/element-min.js" type="text/javascript"></script>
  <script src="/static/js/yui/button/button-min.js" type="text/javascript"></script>
  <script src="/static/js/yui/storage/storage-min.js"type="text/javascript"></script>
  <script src="/static/js/hudson-behavior.js" type="text/javascript"></script>
  <script src="/static/js/sortable.js" type="text/javascript"></script>
  <script type="text/javascript">crumb.init("", "");</script>
  <link rel="stylesheet" href="/static/js/yui/container/assets/container.css" type="text/css">
  <link rel="stylesheet" href="/static/js/yui/assets/skins/sam/skin.css" type="text/css">
  <link rel="stylesheet" href="/static/js/yui/container/assets/skins/sam/container.css" type="text/css">
  <link rel="stylesheet" href="/static/js/yui/button/assets/skins/sam/button.css" type="text/css">
  <link rel="stylesheet" href="/static/js/yui/menu/assets/skins/sam/menu.css" type="text/css">
  <script src="/static/js/yui/cookie/cookie-min.js"
  type="text/javascript">
</script>
  <script type="text/javascript">YAHOO.util.Cookie.set("screenResolution", screen.width+"x"+screen.height);</script>
  <script src="/static/js/yui/cookie/cookie-min.js" type="text/javascript"></script>
</head>

<body data-model-type="hudson.model.AllView" id="jenkins" class="yui-skin-sam jenkins-1.642.1" data-version="jenkins-1.642.1">
  <a href="#skip2content" class="skiplink">Skip to content</a>

  <div id="page-head">
    <div id="header">
      <div class="logo">
        <a id="jenkins-home-link" href="/"><img src="/static/images/headshot.png" alt="title" id="jenkins-head-icon"><img src="/static/images/title.png" alt="title" width="139" id="jenkins-name-icon" height="34"></a>
      </div>

      <div class="login"></div>

      <div class="searchbox hidden-xs">
        <form method="get" name="search" action="/search/" style="position:relative;" class="no-json">
          <div id="search-box-minWidth"></div>
          <div id="search-box-sizer"></div>
          <div id="searchform">
            <input name="q" placeholder="search" id="search-box" class="has-default-text"><a href="http://wiki.jenkins-ci.org/display/JENKINS/Search+Box">
		    <img src="/static/images/16x16/help.png" style="width: 16px; height: 16px;" class="icon-help icon-sm"></a>

            <div id="search-box-completion"></div><script type="text/javascript">createSearchBox("/search/");</script>
          </div>
        </form>
      </div>
    </div>

    <div id="breadcrumbBar">
      <div id="page-body" class="clear">
        <div id="side-panel">
          <div id="tasks">
            <div class="task">
              <a href="/view/All/newJob" class="task-icon-link"><img src="/static/images/24x24/new-package.png" style="width: 24px; height: 24px; width: 24px; height: 24px; margin: 2px;" class="icon-new-package icon-md"></a>
      		<a href="/view/All/newJob" class="task-link">New Item</a>
            </div>
          </div>

          <div id="buildQueue" class="container-fluid pane-frame track-mouse expanded">
            <div class="row">
              <div class="col-xs-24 pane-header">
                <a href="/toggleCollapse?paneId=buildQueue" title="collapse" class="collapse"><img src="/static/images/16x16/collapse.png" alt="collapse" style="width: 16px; height: 16px;" class="icon-collapse icon-sm"></a>Build Queue
              </div>
            </div>

            <div class="row pane-content">
              <table class="pane">
                <tr>
                  <td class="pane" colspan="2">No builds in the queue.</td>
                </tr>
              </table>
            </div>
          </div>
	  <script defer="defer" type="text/javascript">refreshPart('buildQueue',"/ajaxBuildQueue");</script>
          <div id="executors" class="container-fluid pane-frame track-mouse expanded">
            <div class="row">
              <div class="col-xs-24 pane-header">
                <a href="/toggleCollapse?paneId=executors" title="collapse" class="collapse">
			<img src="/static/images/16x16/collapse.png" alt="collapse" style="width: 16px; height: 16px;" class="icon-collapse icon-sm"></a><a href='/computer/'>Build Executor Status</a>
              </div>
            </div>

            <div class="row pane-content">
              <table class="pane">
                <colgroup>
                  <col width="30">
                  <col width="200*">
                  <col width="24">
                </colgroup>

                <tr>
                  <td></td>
                </tr>

                <tr>
                  <td class="pane" align="right" style="vertical-align: top">1</td>
                  <td class="pane">Idle</td>
                  <td class="pane"></td>
                  <td class="pane"></td>
                </tr>

              </table>
            </div>
          </div>
	  <script defer="defer" type="text/javascript">refreshPart('executors',"/ajaxExecutors");</script>
        </div>
        <div id="main-panel">
          <a name="skip2content"></a>

          <div id="view-message">
            <div id="systemmessage"></div>

            <div id="description">
              <div align="right">
		<!--description modificator placeholder-->
              </div>
            </div>
          </div>

          <div class="dashboard">
            <div id="projectstatus-tabBar">
              <div class="tabBarFrame">
                <div class="tabBar">
                  <div class="tab active">
                    <input name="tab-group-1455634547731" checked=
                    "checked" id="tab-1455634547731-" type=
                    "radio"><a href="/" class="">All</a>
                  </div>

                  <div class="tab">
                    <input name="tab-group-1455634547731" id=
                    "tab-1455634547731-1" type="radio"><a href=
                    "/newView" class="addTab">+</a>
                  </div>
                </div>

                <div class="tabBarBaseline"></div>
              </div>
            </div>

            <div class="pane-frame">
              <table id="projectstatus" class=
              "sortable pane bigtable stripped-odd">
                <tr class="header">
                  <th tooltip="Status of the last build"></th>
                  <th tooltip="Weather report showing aggregated status of recent builds"></th>
                  <th initialsortdir="down">Name</th>
                  <th>Last Success</th>
                  <th>Last Failure</th>
                  <th>Last Duration</th>
                  <th width="1"></th>
                  <th></th>

                </tr>
                <!--
		{% block jobs %}
		{% end %}
                -->

		<!--single
                <tr id="job_Test" class=" job-status-nobuilt">
                  <td data="12"><img src="/static/images/32x32/nobuilt.png" alt="Not built" tooltip="Not built" style="width: 32px; height: 32px;" class="icon-nobuilt icon-lg"></td>
		  <td data="100" class="healthReport" onmouseover="this.className='healthReport hover';return true;"onmouseout="this.className='healthReport';return true;">
                  <img src="/static/images/32x32/health-80plus.png" alt="100%" style="width: 32px; height: 32px;" class="icon-health-80plus icon-lg"></td>
                  <td><a href="job/Test/" class="model-link inside">Test</a></td>
                  <td data="-">N/A</td>
                  <td data="-">N/A</td>
                  <td data="0">N/A</td>
                  <td>
                    <a href="#"><img src="/static/images/24x24/clock.png" style="width: 24px; height: 24px;" class="icon-clock icon-md"></a>
		  </td>
                  <td></td>
                </tr>
		-->

              </table>
            </div>

            <div>
              <table style="width:100%">
                <tr>
                  <td>Icon: <a href=
                  "/iconSize?16x16">S</a><a href=
                  "/iconSize?24x24">M</a>L</td>

                  <td>
                    <div align="right" style="margin:1em">
			    <!--RSS placeholder-->
                    </div>
                  </td>
                </tr>
              </table>
            </div>
        </div>
	</div>
	</div>

      <div class="container-fluid"></div>
    </div>
  </div>
</body>
</html>
